.Button {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.success {
    color: green;
}

.danger {
    color: red;
}